.directions-title {
  display: none;

  @media screen and (min-width: 1200px) {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: var(--header-to-lists-gap);

    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;

    color: var(--primary-header-color);
  }
}

.directions-list {
  display: none;

  @media screen and (min-width: 1200px) {
    display: block;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin-left: calc(-1 * var(--list-items-gaps));
    margin-top: calc(-1 * var(--list-items-gaps));
  }
}
.directions-list__item {
  position: relative;
  flex-basis: calc(100% / 3 - var(--list-items-gaps));
  margin-left: var(--list-items-gaps);
  margin-top: var(--list-items-gaps);
}

.directions-list__desc {
  position: absolute;
  width: 100%;
  left: 50%;
  bottom: 0%;
  transform: translate(-50%);

  padding: 27px 0px;
  margin: 0px;

  background-color: rgba(47, 48, 58, 0.8);
  color: var(--secondary-header-color);
}
