.header {
  position: relative;
  border-bottom: 1px solid #ececec;
}

.header-block {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
