.our-team {
  background-color: var(--filter-button-background);
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--list-items-gaps));
  margin-top: calc(-1 * var(--list-items-gaps));

  @media screen and (min-width: 480px) {
    max-width: 480px;
  }
  @media screen and (min-width: 768px) {
    max-width: 768px;
  }
  @media screen and (min-width: 1200px) {
    max-width: 1200px;
  }
}

.employee-card {
  flex-basis: calc(100% / 1 - var(--list-items-gaps));
  margin-left: var(--list-items-gaps);
  margin-top: var(--list-items-gaps);

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--secondary-header-color);

  @media screen and (min-width: 768px) {
    flex-basis: calc(100% / 2 - var(--list-items-gaps));
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc(100% / 4 - var(--list-items-gaps));
  }
}

.employee-card__profile {
  padding-top: var(--list-items-gaps);
  padding-bottom: var(--list-items-gaps);
}

.employee-card__name {
  margin-top: 0px;
  margin-bottom: var(--secondary-headers-gap);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--primary-header-color);
}

.employee-card__position {
  margin-top: 0px;
  margin-bottom: 16px;

  font-size: 16px;
  line-height: 1.19;
  text-align: center;

  color: var(--primary-text-color);
}
