.secondary-titles {
  margin-top: 0px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.social-links-header {
  margin-top: 0px;
  margin-bottom: 20px;
  text-align: center;
  color: var(--secondary-header-color);

  @media screen and (min-width: 1200px) {
    text-align: start;
  }
}
