:root {
  --secondary-background-color: #2f303a;
  --primary-text-color: #757575;
  --primary-header-color: #212121;
  --secondary-header-color: #ffffff;
  --footer-contacts-color: rgba(255, 255, 255, 0.6);
  --focus-color: #2196f3;
  --header-logo-color: #000000;
  --button-background-color: #188ce8;
  --filter-button-background: #f5f4fa;
  --list-items-gaps: 30px;
  --header-to-lists-gap: 50px;
  --header-to-lists-gap-mobile: 30px;
  --secondary-headers-gap: 10px;
  --descr-margins: 20px 24px;
  --timing-animation: cubic-bezier(0.4, 0, 0.2, 1);
  --transition-duration: 250ms;
}
